html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  width: calc(100vw - 30px);
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

a {
  color: #000;
}

ul li {
  margin-bottom: 10px;
}

article h1 {
  text-align: center;
}

code {
  font-family: monospace, monospace;
  font-size: 14px;
}

article > pre {
  background: #eee;
  padding: 1rem;
  white-space: pre-wrap;
}

p > code {
  background: #eee;
  padding: 0.2rem;
  border-radius: 4px;
}

footer {
  text-align: center;
}

time {
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  color: #aaa;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  padding: 28px 0;
}

nav hr {
  display: none;
}

nav .menu-item {
  display: block;
  padding: 10px 0 10px 20px;
  text-decoration: none;
  font-weight: 100;
}

.menu-item.current {
  font-weight: bold;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 40px 40px;
  box-sizing: border-box;
  min-height: 600px;
}

.me {
  margin: 20px 50px;
  text-align: center;
  float: right;
}

.me-image {
  height: 250px;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #dedede;
}

.contacts {
  margin: 10px;
}

.contact {
  padding: 5px;
  background: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
}

.blog-list {
  text-align: left;
}

.blog-list a {
  font-weight: bold;
}

.blog-post {
  margin-bottom: 30px;
}

hr {
  padding: 0;
  max-width: 900px;
  height: 1px;
  border: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
}

@media all and (max-width:1366px) {
  main {
    padding: 25px 40px;
  }

  nav {
    position: static;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  nav .menu-item {
    display: inline-block;
    padding: 10px 0 10px 20px;
  }

  .menu hr {
    display: block;
  }

  .me {
    float: initial;
    margin: 0;
  }
}

@media all and (max-width:768px) {
  main {
    padding: 20px 40px;
  }
}

@media all and (max-width:390px) {
  header {
    margin-top: 10px;
    height: 50px;
  }

  main {
    padding: 15px 20px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background: #282828;
    color: #dedede
  }

  a {
    color: #dedede;
  }

  hr {
    background-image: -webkit-linear-gradient(left, rgba(222, 222, 222, 0), rgba(222, 222, 222, 0.3), rgba(222, 222, 222, 0));
    background-image: -moz-linear-gradient(left, rgba(222, 222, 222, 0), rgba(222, 222, 222, 0.3), rgba(222, 222, 222, 0));
    background-image: -o-linear-gradient(left, rgba(222, 222, 222, 0), rgba(222, 222, 222, 0.3), rgba(222, 222, 222, 0));
    background-image: linear-gradient(left, rgba(222, 222, 222, 0), rgba(222, 222, 222, 0.3), rgba(222, 222, 222, 0));
  }

  article > pre {
    background: #353535;
  }

  p > code {
    background: #353535;
  }

  .contact {
    background: #dede70;
    color: #282828;
  }
}
