body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

#button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 18px;
}

#links {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 18px;
  width: 100%;
}

.link {
  margin: 20px;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
}

.error {
  background-color: #e99;
}
